<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerlink}}
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    {{>navbar}}
    <div class="container">
        <div class="rightCon">
            <img src="img/about.png" alt="">
    </div>
        <div class="leftCon cen">
        <p class="small">Welcome to weather app</p>
        <p class="large">i am a <span>MERN stack developer</span> currently pursuing B.Tech in elecrical engineering.</p>
        <a href='https://www.instagram.com/de_asim01/' target="_blank" class="check">About me</a>
    </div>
    
</div>
    {{>footer}}
</body>
{{>scriptlink}}
</html>