<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerlink}}
    <link rel="stylesheet" href="css/weather.css">
</head>

<body>
    {{>navbar}}

    <div class="container">
        <div class="inp">
            <input type="text" class="bg-dark" id="inpbox" placeholder="please enter your city name">
            <button id="submitbtn">Search</button>
        </div>
        <div class="bg-dark" id="out">
            <div id="dateout"><span id="day"></span><span id="date"></span></div>
            <span id="cityname"></span>
            <div id="tempout">
                
            </div>
        </div>
    </div>
    
    {{>footer}}
</body>
{{>scriptlink}}
<script src="js/weather.js"></script>

</html>